<p id="notice"><%= notice %></p>

<p>
  <strong>IMEI:</strong>
  <%= @devicedetail.imei %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @devicedetail.brand %>
</p>

<p>
  <strong>Model:</strong>
  <%= @devicedetail.model %>
</p>

<p>
  <strong>Device type:</strong>
  <%= @devicedetail.device_type %>
</p>

<p>
  <strong>Ram:</strong>
  <%= @devicedetail.ram %>
</p>

<p>
  <strong>Built in memory:</strong>
  <%= @devicedetail.built_in_mem %>
</p>

<p>
  <strong>Battery:</strong>
  <%= @devicedetail.battery %>
</p>

<p>
  <strong>Op sys:</strong>
  <%= @devicedetail.op_sys %>
</p>

<p>
  <strong>Chipset:</strong>
  <%= @devicedetail.chipset %>
</p>

<%= link_to 'Edit', edit_devicedetail_path(@devicedetail) %> |
<%= link_to 'Back', devicedetails_path %>
